# Environments
.venv/
env/
env
venv/
ENV/
*.env
env.*
!.env.example

# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Databases & local stores
*.sqlite
*.sqlite3
*.db
pgdata/

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Node / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
frontend/dist/
